header{
    color: white;
}

header>nav{
    margin: 30px;
}

header>nav>ul{
    display: flex;
    justify-content: end;
    list-style: none;
}

header>nav>ul>li{
    padding: 10px 80px 10px 80px;
    margin-right: 20px;
    font-size: 35px;
    background: linear-gradient(to right, var(--roxo), var(--roxo2));
    text-shadow: 2px 2px 2px rgb(59, 59, 59);
    border-radius: 60px;
    cursor: pointer;
    border: solid white 2px;
}

header>nav>ul>li:hover{
    opacity: 0.8;
}

