header{
    color: white;
}

header>nav{
    margin: 30px;
}

header>nav>ul{
    display: flex;
    justify-content: end;
    list-style: none;
}

header>nav>ul>li{
    padding: 10px 80px 10px 80px;
    margin-right: 20px;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgb(59, 59, 59);
    border-radius: 60px;
    cursor: pointer;
    border: solid var(--roxo) 4px;
    transition: 0.3s;
}

header>nav>ul>li:hover{
    text-shadow: 2px 0px 2px rgb(131, 131, 131);
    background-color: aliceblue;
    color: var(--roxo);
}

