@media (min-width: 320px){
    form{
        width: 300px;
        height: 340px;
        margin-top: 20px;
    }

    form>h1{
        margin-top: 20px;
        font-size: 20px;
    }

    #desenho_login{ 
       margin-bottom: 60px;
       width: 80px;
       height: 80px;
       margin-top: -10px;
       margin-bottom: 5px;
    }

    #circulo{
        width: 20px;
        height: 20px;
        margin-top: 7px;   
        border: solid rgb(155, 87, 219) 5px;
    }
    
    #meia_lua{
        width: 40px;
        height: 20px;
        margin-top: -5px;
        border: solid rgb(155, 87, 219) 5px;
    }

    form>input{
        width: 240px;
        margin-left: 20px;
        font-size: 20px;
        margin-bottom: -10px;
    }

    form>button{
        padding: 7px 100px 7px 100px;
        margin-left: 20px;
        font-size: 20px;
        text-align: center;
    }
}